.ExchangeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 30px 0;
  background-color: #eee;
  padding: 15px 20px;
}

.ExchangeTitle-Image {
  height: 20px;
  margin: 0 60px;
}
